.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 200px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
}
.quoteImg {
  max-width: 300px;
  color: rgb(138, 87, 189);
  margin: auto 0;
  padding-bottom: 15px;
}
